[submodule "cxxtools"]
	path = cxxtools
	url = https://github.com/42ity/cxxtools
	branch = release/IPM_Infra-1.3
[submodule "tntdb"]
	path = tntdb
	url = https://github.com/42ity/tntdb
	branch = release/IPM_Infra-1.3
[submodule "tntnet"]
	path = tntnet
	url = https://github.com/42ity/tntnet
	branch = release/IPM_Infra-1.3
[submodule "nut"]
	path = nut
	url = https://github.com/42ity/nut
	branch = release/IPM_Infra-1.3
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "libsodium-v1.0.5"]
	path = libsodium-v1.0.5
	url = https://github.com/42ity/libsodium.git
	branch = release/IPM_Infra-1.3
[submodule "gsl"]
	path = gsl
	url = https://github.com/zeromq/gsl
[submodule "zproject"]
	path = zproject
	url = https://github.com/zeromq/zproject
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq
[submodule "libzmq-v4.2.0"]
	path = libzmq-v4.2.0
	url = https://github.com/42ity/libzmq
	branch = release/IPM_Infra-1.3
#[submodule "czmq"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
#	path = czmq
#	url = https://github.com/42ity/czmq
#	branch = v3.0.2
[submodule "czmq-v3.0.2"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
	path = czmq-v3.0.2
	url = https://github.com/42ity/czmq
	branch = release/IPM_Infra-1.3
[submodule "czmq-master"]
### In this branch, we try to use upstream instead
	path = czmq-master
	url = https://github.com/zeromq/czmq
	branch = master
[submodule "malamute"]
	path = malamute
	url = https://github.com/zeromq/malamute
[submodule "malamute-v1.0"]
	path = malamute-v1.0
	url = https://github.com/42ity/malamute
	branch = release/IPM_Infra-1.3
[submodule "libmagic"]
	path = libmagic
	url = https://github.com/42ity/libmagic
	branch = release/IPM_Infra-1.3
[submodule "libcidr"]
	path = libcidr
	url = https://github.com/42ity/libcidr
	branch = release/IPM_Infra-1.3
[submodule "fty-proto"]
	path = fty-proto
	url = https://github.com/42ity/fty-proto
	branch = release/IPM_Infra-1.3
[submodule "fty-outage"]
	path = fty-outage
	url = https://github.com/42ity/fty-outage
	branch = release/IPM_Infra-1.3
[submodule "fty-email"]
	path = fty-email
	url = https://github.com/42ity/fty-email
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-cache"]
	path = fty-metric-cache
	url = https://github.com/42ity/fty-metric-cache
	branch = release/IPM_Infra-1.3
[submodule "fty-sensor-env"]
	path = fty-sensor-env
	url = https://github.com/42ity/fty-sensor-env
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-store"]
	path = fty-metric-store
	url = https://github.com/42ity/fty-metric-store
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-tpower"]
	path = fty-metric-tpower
	url = https://github.com/42ity/fty-metric-tpower
	branch = release/IPM_Infra-1.3
[submodule "fty-core"]
	path = fty-core
	url = https://github.com/42ity/fty-core
	branch = release/IPM_Infra-1.3
[submodule "fty-asset"]
	path = fty-asset
	url = https://github.com/42ity/fty-asset
	branch = release/IPM_Infra-1.3
[submodule "fty-alert-list"]
	path = fty-alert-list
	url = https://github.com/42ity/fty-alert-list
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-compute"]
	path = fty-metric-compute
	url = https://github.com/42ity/fty-metric-compute
	branch = release/IPM_Infra-1.3
[submodule "fty-nut"]
	path = fty-nut
	url = https://github.com/42ity/fty-nut
	branch = release/IPM_Infra-1.3
[submodule "fty-alert-engine"]
	path = fty-alert-engine
	url = https://github.com/42ity/fty-alert-engine
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-composite"]
	path = fty-metric-composite
	url = https://github.com/42ity/fty-metric-composite
	branch = release/IPM_Infra-1.3
[submodule "fty-rest"]
	path = fty-rest
	url = https://github.com/42ity/fty-rest
	branch = release/IPM_Infra-1.3
[submodule "fty-kpi-power-uptime"]
	path = fty-kpi-power-uptime
	url = https://github.com/42ity/fty-kpi-power-uptime
	branch = release/IPM_Infra-1.3
[submodule "fty-example"]
	path = fty-example
	url = https://github.com/42ity/fty-example
	branch = release/IPM_Infra-1.3
[submodule "fty-metric-snmp"]
	path = fty-metric-snmp
	url = https://github.com/42ity/fty-metric-snmp
	branch = release/IPM_Infra-1.3
[submodule "fty-alert-flexible"]
	path = fty-alert-flexible
	url = https://github.com/42ity/fty-alert-flexible
	branch = release/IPM_Infra-1.3
[submodule "fty-info"]
	path = fty-info
	url = https://github.com/42ity/fty-info
	branch = release/IPM_Infra-1.3
[submodule "fty-mdns-sd"]
	path = fty-mdns-sd
	url = https://github.com/42ity/fty-mdns-sd
	branch = release/IPM_Infra-1.3
[submodule "fty-discovery"]
	path = fty-discovery
	url = https://github.com/42ity/fty-discovery
	branch = release/IPM_Infra-1.3
[submodule "fty-sensor-gpio"]
	path = fty-sensor-gpio
	url = https://github.com/42ity/fty-sensor-gpio
	branch = release/IPM_Infra-1.3
