[submodule "cxxtools"]
	path = cxxtools
	url = https://github.com/42ity/cxxtools
	branch = 2.2-FTY
[submodule "tntdb"]
	path = tntdb
	url = https://github.com/42ity/tntdb
	branch = 1.3-FTY
[submodule "tntnet"]
	path = tntnet
	url = https://github.com/42ity/tntnet
	branch = 2.2-FTY
[submodule "nut"]
	path = nut
	url = https://github.com/42ity/nut
	branch = FTY
[submodule "libsodium-master"]
	path = libsodium-master
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "libsodium-v1.0.5"]
	path = libsodium-v1.0.5
	url = https://github.com/42ity/libsodium.git
	branch = 1.0.5-FTY
[submodule "gsl"]
	path = gsl
	url = https://github.com/zeromq/gsl
[submodule "zproject"]
	path = zproject
	url = https://github.com/42ity/zproject
	branch = FTY
[submodule "libzmq-master"]
	path = libzmq-master
	url = https://github.com/zeromq/libzmq
[submodule "libzmq-v4.2.0"]
	path = libzmq-v4.2.0
	url = https://github.com/42ity/libzmq
	branch = 4.2.0-FTY
#[submodule "czmq"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
#	path = czmq
#	url = https://github.com/42ity/czmq
#	branch = v3.0.2
[submodule "czmq-v3.0.2"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
	path = czmq-v3.0.2
	url = https://github.com/42ity/czmq
	branch = v3.0.2-FTY
[submodule "czmq-master"]
### In this branch, we try to use upstream instead
	path = czmq-master
	url = https://github.com/zeromq/czmq
	branch = master
[submodule "malamute-master"]
	path = malamute-master
	url = https://github.com/zeromq/malamute
[submodule "malamute-v1.0"]
	path = malamute-v1.0
	url = https://github.com/42ity/malamute
	branch = 1.0-FTY
[submodule "libmagic"]
	path = libmagic
	url = https://github.com/42ity/libmagic
	branch = 5.18-FTY
[submodule "libcidr"]
	path = libcidr
	url = https://github.com/42ity/libcidr
	branch = 1.2.3-FTY
[submodule "fty-proto"]
	path = fty-proto
	url = https://github.com/42ity/fty-proto
[submodule "fty-outage"]
	path = fty-outage
	url = https://github.com/42ity/fty-outage
[submodule "fty-email"]
	path = fty-email
	url = https://github.com/42ity/fty-email
[submodule "fty-metric-cache"]
	path = fty-metric-cache
	url = https://github.com/42ity/fty-metric-cache
[submodule "fty-sensor-env"]
	path = fty-sensor-env
	url = https://github.com/42ity/fty-sensor-env
[submodule "fty-metric-store"]
	path = fty-metric-store
	url = https://github.com/42ity/fty-metric-store
[submodule "fty-metric-tpower"]
	path = fty-metric-tpower
	url = https://github.com/42ity/fty-metric-tpower
[submodule "fty-core"]
	path = fty-core
	url = https://github.com/42ity/fty-core
[submodule "fty-asset"]
	path = fty-asset
	url = https://github.com/42ity/fty-asset
[submodule "fty-alert-list"]
	path = fty-alert-list
	url = https://github.com/42ity/fty-alert-list
[submodule "fty-metric-compute"]
	path = fty-metric-compute
	url = https://github.com/42ity/fty-metric-compute
[submodule "fty-nut"]
	path = fty-nut
	url = https://github.com/42ity/fty-nut
[submodule "fty-alert-engine"]
	path = fty-alert-engine
	url = https://github.com/42ity/fty-alert-engine
[submodule "fty-metric-composite"]
	path = fty-metric-composite
	url = https://github.com/42ity/fty-metric-composite
[submodule "fty-rest"]
	path = fty-rest
	url = https://github.com/42ity/fty-rest
[submodule "fty-kpi-power-uptime"]
	path = fty-kpi-power-uptime
	url = https://github.com/42ity/fty-kpi-power-uptime
[submodule "fty-example"]
	path = fty-example
	url = https://github.com/42ity/fty-example
[submodule "fty-metric-snmp"]
	path = fty-metric-snmp
	url = https://github.com/42ity/fty-metric-snmp
[submodule "fty-alert-flexible"]
	path = fty-alert-flexible
	url = https://github.com/42ity/fty-alert-flexible
[submodule "fty-info"]
	path = fty-info
	url = https://github.com/42ity/fty-info
[submodule "fty-mdns-sd"]
	path = fty-mdns-sd
	url = https://github.com/42ity/fty-mdns-sd
[submodule "fty-discovery"]
	path = fty-discovery
	url = https://github.com/42ity/fty-discovery
[submodule "fty-sensor-gpio"]
	path = fty-sensor-gpio
	url = https://github.com/42ity/fty-sensor-gpio
[submodule "JSON.sh"]
	path = JSON.sh
	branch = FTY
	url = https://github.com/42ity/JSON.sh
[submodule "fty-common"]
	path = fty-common
	url = https://github.com/42ity/fty-common.git
[submodule "fty-warranty"]
	path = fty-warranty
	url = https://github.com/42ity/fty-warranty.git
[submodule "fty-prometheus-rest"]
	path = fty-prometheus-rest
	url = https://github.com/42ity/fty-prometheus-rest.git
[submodule "zproto"]
	path = zproto
	url = https://github.com/zeromq/zproto.git
	branch = master
[submodule "log4cplus-master"]
	path = log4cplus-master
	url = https://github.com/log4cplus/log4cplus.git
	branch = master
[submodule "log4cplus-v1.1.2"]
	path = log4cplus-v1.1.2
	url = https://github.com/42ity/log4cplus.git
	branch = 1.1.2-FTY
[submodule "fty-alert-stats"]
	path = fty-alert-stats
	url = https://github.com/42ity/fty-alert-stats.git
	branch = master
[submodule "fty-common-db"]
	path = fty-common-db
	url = https://github.com/42ity/fty-common-db.git
	branch = master
[submodule "fty-common-logging"]
	path = fty-common-logging
	url = https://github.com/42ity/fty-common-logging.git
	branch = master
[submodule "fty-common-mlm"]
	path = fty-common-mlm
	url = https://github.com/42ity/fty-common-mlm.git
	branch = master
[submodule "fty-common-rest"]
	path = fty-common-rest
	url = https://github.com/42ity/fty-common-rest.git
	branch = master
[submodule "fty-common-translation"]
	path = fty-common-translation
	url = https://github.com/42ity/fty-common-translation.git
	branch = master
[submodule "fty-scripts-rest"]
	path = fty-scripts-rest
	url = https://github.com/42ity/fty-scripts-rest.git
	branch = master
[submodule "fty-shm"]
	path = fty-shm
	url = https://github.com/42ity/fty-shm.git
	branch = master
[submodule "fty-metric-ambient-location"]
	path = fty-metric-ambient-location
	url = https://github.com/42ity/fty-metric-ambient-location.git
	branch = master
[submodule "fty-security-wallet"]
	path = fty-security-wallet
	url = https://github.com/42ity/fty-security-wallet.git
	branch = master
[submodule "fty-common-nut"]
	path = fty-common-nut
	url = https://github.com/42ity/fty-common-nut.git
	branch = master
[submodule "fty-security-wallet-rest"]
	path = fty-security-wallet-rest
	url = https://github.com/42ity/fty-security-wallet-rest.git
	branch = master
[submodule "fty-asset-mapping-rest"]
	path = fty-asset-mapping-rest
	url = https://github.com/42ity/fty-asset-mapping-rest.git
	branch = master
[submodule "fty-common-socket"]
	path = fty-common-socket
	url = https://github.com/42ity/fty-common-socket.git
	branch = master
[submodule "fty-certificate-generator"]
	path = fty-certificate-generator
	url = https://github.com/42ity/fty-certificate-generator.git
	branch = master
[submodule "fty-asset-activator"]
	path = fty-asset-activator
	url = https://github.com/42ity/fty-asset-activator.git
	branch = master
[submodule "fty-common-dto"]
	path = fty-common-dto
	url = https://github.com/42ity/fty-common-dto.git
	branch = master
[submodule "fty-config"]
	path = fty-config
	url = https://github.com/42ity/fty-config.git
	branch = master
[submodule "fty-common-messagebus"]
	path = fty-common-messagebus
	url = https://github.com/42ity/fty-common-messagebus.git
	branch = master
[submodule "fty-lib-certificate"]
	path = fty-lib-certificate
	url = https://github.com/42ity/fty-lib-certificate.git
	branch = master
[submodule "fty-srr-rest"]
	path = fty-srr-rest
	url = https://github.com/42ity/fty-srr-rest.git
	branch = master
[submodule "fty-srr"]
	path = fty-srr
	url = https://github.com/42ity/fty-srr.git
	branch = master
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/42ity/protobuf.git
	branch = FTY
[submodule "fty-certificate-generator-rest"]
	path = fty-certificate-generator-rest
	url = https://github.com/42ity/fty-certificate-generator-rest.git
	branch = master
[submodule "libpam0g-dev-pkgconfig"]
	path = libpam0g-dev-pkgconfig
	url = https://github.com/42ity/libpam0g-dev-pkgconfig.git
	branch = master
[submodule "fty-service-status-systemd"]
	path = fty-service-status-systemd
	url = https://github.com/42ity/fty-service-status-systemd.git
	branch = master
[submodule "fty-service-status"]
	path = fty-service-status
	url = https://github.com/42ity/fty-service-status.git
	branch = master
#[submodule "raven-cmake"]
#	path = raven-cmake
#	url = https://github.com/42ity/raven-cmake.git
#	branch = master
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "fty-alert-srr"]
	path = fty-alert-srr
	url = https://github.com/42ity/fty-alert-srr.git
	branch = master
[submodule "fty-cmake"]
	path = fty-cmake
	url = https://github.com/42ity/fty-cmake.git
	branch = master
[submodule "fty-discovery-ng"]
	path = fty-discovery-ng
	url = https://github.com/42ity/fty-discovery-ng.git
	branch = master
[submodule "fty-pack"]
	path = fty-pack
	url = https://github.com/42ity/fty-pack.git
	branch = master
[submodule "fty-utils"]
	path = fty-utils
	url = https://github.com/42ity/fty-utils.git
	branch = master
[submodule "fty-cmake-example"]
	path = fty-cmake-example
	url = https://github.com/42ity/fty-cmake-example.git
	branch = master
[submodule "fty-cmake-rest"]
	path = fty-cmake-rest
	url = https://github.com/42ity/fty-cmake-rest.git
	branch = master
[submodule "fty-asset-rest"]
	path = fty-asset-rest
	url = https://github.com/42ity/fty-asset-rest.git
	branch = master
[submodule "fty-lib-jenkins"]
	path = fty-lib-jenkins
	url = https://github.com/42ity/fty-lib-jenkins.git
	branch = master
