[submodule "cxxtools"]
	path = cxxtools
	url = https://github.com/42ity/cxxtools
	branch = 2.2-FTY
[submodule "tntdb"]
	path = tntdb
	url = https://github.com/42ity/tntdb
	branch = 1.3-FTY
[submodule "tntnet"]
	path = tntnet
	url = https://github.com/42ity/tntnet
	branch = 2.2-FTY
[submodule "nut"]
	path = nut
	url = https://github.com/42ity/nut
	branch = FTY
[submodule "libsodium-master"]
	path = libsodium-master
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "libsodium-v1.0.5"]
	path = libsodium-v1.0.5
	url = https://github.com/42ity/libsodium.git
	branch = 1.0.5-FTY
[submodule "gsl"]
	path = gsl
	url = https://github.com/zeromq/gsl
[submodule "zproject"]
	path = zproject
	url = https://github.com/zeromq/zproject
[submodule "libzmq-master"]
	path = libzmq-master
	url = https://github.com/zeromq/libzmq
[submodule "libzmq-v4.2.0"]
	path = libzmq-v4.2.0
	url = https://github.com/42ity/libzmq
	branch = 4.2.0-FTY
#[submodule "czmq"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
#	path = czmq
#	url = https://github.com/42ity/czmq
#	branch = v3.0.2
[submodule "czmq-v3.0.2"]
### In this branch, we try to use our old frozen fork that is obsoleted in upstream
	path = czmq-v3.0.2
	url = https://github.com/42ity/czmq
	branch = v3.0.2-FTY
[submodule "czmq-master"]
### In this branch, we try to use upstream instead
	path = czmq-master
	url = https://github.com/zeromq/czmq
	branch = master
[submodule "malamute-master"]
	path = malamute-master
	url = https://github.com/zeromq/malamute
[submodule "malamute-v1.0"]
	path = malamute-v1.0
	url = https://github.com/42ity/malamute
	branch = 1.0-FTY
[submodule "libmagic"]
	path = libmagic
	url = https://github.com/42ity/libmagic
	branch = 5.18-FTY
[submodule "libcidr"]
	path = libcidr
	url = https://github.com/42ity/libcidr
	branch = 1.2.3-FTY
[submodule "fty-proto"]
	path = fty-proto
	url = https://github.com/42ity/fty-proto
[submodule "fty-outage"]
	path = fty-outage
	url = https://github.com/42ity/fty-outage
[submodule "fty-email"]
	path = fty-email
	url = https://github.com/42ity/fty-email
[submodule "fty-metric-cache"]
	path = fty-metric-cache
	url = https://github.com/42ity/fty-metric-cache
[submodule "fty-sensor-env"]
	path = fty-sensor-env
	url = https://github.com/42ity/fty-sensor-env
[submodule "fty-metric-store"]
	path = fty-metric-store
	url = https://github.com/42ity/fty-metric-store
[submodule "fty-metric-tpower"]
	path = fty-metric-tpower
	url = https://github.com/42ity/fty-metric-tpower
[submodule "fty-core"]
	path = fty-core
	url = https://github.com/42ity/fty-core
[submodule "fty-asset"]
	path = fty-asset
	url = https://github.com/42ity/fty-asset
[submodule "fty-alert-list"]
	path = fty-alert-list
	url = https://github.com/42ity/fty-alert-list
[submodule "fty-metric-compute"]
	path = fty-metric-compute
	url = https://github.com/42ity/fty-metric-compute
[submodule "fty-nut"]
	path = fty-nut
	url = https://github.com/42ity/fty-nut
[submodule "fty-alert-engine"]
	path = fty-alert-engine
	url = https://github.com/42ity/fty-alert-engine
[submodule "fty-metric-composite"]
	path = fty-metric-composite
	url = https://github.com/42ity/fty-metric-composite
[submodule "fty-rest"]
	path = fty-rest
	url = https://github.com/42ity/fty-rest
[submodule "fty-kpi-power-uptime"]
	path = fty-kpi-power-uptime
	url = https://github.com/42ity/fty-kpi-power-uptime
[submodule "fty-example"]
	path = fty-example
	url = https://github.com/42ity/fty-example
[submodule "fty-metric-snmp"]
	path = fty-metric-snmp
	url = https://github.com/42ity/fty-metric-snmp
[submodule "fty-alert-flexible"]
	path = fty-alert-flexible
	url = https://github.com/42ity/fty-alert-flexible
[submodule "fty-info"]
	path = fty-info
	url = https://github.com/42ity/fty-info
[submodule "fty-mdns-sd"]
	path = fty-mdns-sd
	url = https://github.com/42ity/fty-mdns-sd
[submodule "fty-discovery"]
	path = fty-discovery
	url = https://github.com/42ity/fty-discovery
[submodule "fty-sensor-gpio"]
	path = fty-sensor-gpio
	url = https://github.com/42ity/fty-sensor-gpio
[submodule "JSON.sh"]
	path = JSON.sh
	branch = FTY
	url = https://github.com/42ity/JSON.sh
[submodule "fty-common"]
	path = fty-common
	url = https://github.com/42ity/fty-common.git
[submodule "fty-warranty"]
	path = fty-warranty
	url = https://github.com/42ity/fty-warranty.git
[submodule "fty-prometheus-rest"]
	path = fty-prometheus-rest
	url = https://github.com/42ity/fty-prometheus-rest.git
[submodule "zproto"]
	path = zproto
	url = https://github.com/zeromq/zproto.git
	branch = master
[submodule "log4cplus-master"]
	path = log4cplus-master
	url = https://github.com/log4cplus/log4cplus.git
	branch = master
[submodule "log4cplus-v1.1.2"]
	path = log4cplus-v1.1.2
	url = https://github.com/42ity/log4cplus.git
	branch = 1.1.2-FTY
[submodule "fty-log"]
	path = fty-log
	url = https://github.com/42ity/fty-log.git
	branch = master
[submodule "fty-licensing"]
	path = fty-licensing
	url = https://github.com/42ity/fty-licensing.git
	branch = master
